@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.NavigationGroup>>

@if ((Model.Content.ChildLinks != null && Model.Content.ChildLinks.Any())
            && (!string.IsNullOrWhiteSpace(Model.Content.Title) || Model.Content.Link != null))
{
    <li class="nav-item mx-0 mx-lg-1 dropdown">
        @if (Model.Content.Link != null)
        {
            <a id="menu-parent-link-@Model.Content.Link.Name" class=" nav-link py-3 px-0 px-lg-3 rounded dropdown-toggle d-lg-inline-flex align-items-center" target="@Model.Content.Link.Target" href="@Model.Content.Link.Url" id="@Model.Content.Key.ToString("N")" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @Model.Content.Link.Name
            </a>
        }
        else if (!string.IsNullOrWhiteSpace(Model.Content.Title))
        {
            <a id="menu-parent-title-@Model.Content.Title" class=" nav-link py-3 px-0 px-lg-3 rounded dropdown-toggle d-lg-inline-flex align-items-center" href="#" id="@Model.Content.Key.ToString("N")" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @Model.Content.Title
            </a>
        }
        <ul class="dropdown-menu" aria-labelledby="@Model.Content.Key.ToString("N")">
            @foreach (var childLink in Model.Content.ChildLinks)
            {
                <li><a id="menu-child-@childLink.Name" class="dropdown-item" target="@childLink.Target" href="@childLink.Url">@childLink.Name</a></li>
            }
        </ul>
    </li>
}
else
{
    <li class="nav-item mx-0 mx-lg-1"><a id="menu-parent-nodropdown-@Model.Content.Link.Name" class="nav-link py-3 px-0 px-lg-3 rounded" target="@Model.Content.Link.Target" href="@Model.Content.Link.Url">@Model.Content.Link.Name</a></li>
}
